# 域名验证

{% hint style="warning" %}
参阅[域名验证](../login-with-sso/domain-verification.md)
{% endhint %}
