# =域验证

{% hint style="success" %}
对应的[官方文档地址](https://bitwarden.com/help/domain-verification/)
{% endhint %}

## 验证域 <a href="#verify-a-domain" id="verify-a-domain"></a>

## 管理域 <a href="#managing-domains" id="managing-domains"></a>

## 登录 <a href="#login" id="login"></a>
